.container {
  padding-top: 38px;
  @include p-r-l($pg-sides-space);
  @include m-r-l(auto);
  @include media($desktop) {
    width: 95%;
    max-width: $max-row-width;
    @include p-r-l(0);
  }
}

.grid {
  @include e(row) {
    @include flexbox();
    @include m-r-l(-$pg-sides-space);
    @include media($desktop) {
        @include m-r-l(0);
    }
  }
  @include e(col) {

    @for $i from 1 through 12 {
      @include m($i) {
        flex-basis: 100%;
        min-height: $min-col-height;
        padding: 12px;
        @include m-r-l($pg-sides-space);
        margin-bottom: 0.35em;
        border-radius: $b-radius;

        &:last-child {
          margin-bottom: 3.1em;
        }
        @include media($desktop) {
          flex-basis: auto;
          width: col-width-calc($max-gutter-width, $max-row-width, $i);
          @include m-r-l(0);
          margin-bottom: 3.1em;

          &.centered {
            @include m-r-l(auto);
          }
        }

        &.theme {
          @include e(colors) {
            background-color: nth($column-colors, $i);
            font-weight: $bold;
            @include media($desktop) {
              text-align: center;
            }
          }
        }
      }
    }
  }
}

.card {
  @extend %m-t-b-card;
  @include m-r-l(15px);
}

.form {
  @extend %m-t-b-card;
}
