.nav {
  @include flexbox($jc: center);
  font-size: 1.1em;
  @include media($desktop) {
    padding-top: 0.9em;
  }
  @include e(item) {
    flex-basis: 100%;
    margin-bottom: 2px;
    @include media($desktop) {
      flex-basis: auto;
      margin-bottom: 0;

      &:not(:last-child) {
        margin-right: 1.2em;
      }
    }

    a {
      display: block;
      width: 100%;
      @include m-r-l(auto);
      max-width: $max-btn-width;
      padding: 16px;
      border-radius: $b-radius;
      text-align: center;
      text-decoration: none;
      color: $strong-primary-color;

      &:hover {
        color: white;
        background-color: $highlight-color;
      }
      @include media($desktop) {
        padding: 10px;
      }
      @extend %color-transitions;
    }
  }
}
