@if variable-exists(google-font-url) {
  @import url($google-font-url);
}

.container {
  font-family: $primaryFont;
  color: $primary-color;
  font-weight: $regular;
}

.headline {
  @include m(primary) {
    margin-bottom: 1.2em;
    padding-left: 0.75em;
    color: $highlight-color;
    font-size: 1.9em;
    font-weight: $black;
    letter-spacing: 0.2px;
    @include after-headline(-.8em);
  }
  @include m(secondary) {
    margin-bottom: 2.5em;
    padding-left: 0.5em;
    font-size: 1.1em;
    font-weight: $light;
    @include media($desktop) {
      padding-left: 0;
    }
  }
}

.link {
  @extend %link-dft;
  @extend %color-transitions;
}


.blockquote {
  margin: 1em 1em 0.82em;
  padding-left: 6%;
  border-left: 8px solid $highlight-color;
  border-radius: $b-radius;
  font-size: 1.65em;
  font-weight: $regular;
  font-style: italic;
  letter-spacing: -1px;
  line-height: 1.25;
}
